
$red: #ff2d55;

$small: 480px;
$med: 768px;
$large: 1200px;

@mixin flex($align: left) {
  display: flex;
  justify-content: $align;
  align-items: center;
}

%text-shadow {
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $red;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  li {
    display: inline-block;
  }
}

nav {
  padding: 0 2rem 0 2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  @extend %text-shadow;
  h1 {
    font-style: italic;
  }
  .social-icons {
    @include flex(right);
    ul {
      li {
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }
}

.container {
  height: 90vh;
  text-align: center;
  @include flex(center);
  flex-direction: column;
  text-transform: uppercase;
  color: white;

  div {
    padding: 0.5em 0 0.5em 0;
  }

  .timer {
    height: 320px;

    .time {
      margin-top: 50px;
      font-size: 72px;
    }

    .timer-svg {
      width: 300px;
      height: 300px;
      transform: rotateZ(-90deg) rotateX(180deg);
      display: block;
      z-index: -1;
      
      position: fixed;
      left: 0;
      right: 0;
      margin: 0 auto;     
    

      #svg circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: gray;
        stroke-width: 0.5em;
      }

      #svg #bar {
        stroke: white;
      }
    }

    button {
      .fa {
        font-size: xx-large;
      }
    }
  }
  .controls {
    ul {
      @include flex(center);
      li {
        width: 120px;
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit; 
}

button {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0! important;
  font: inherit;
  cursor: pointer;
  outline: none;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.fa {
  font-size: x-large;
}

@media screen and (max-width: $med) {
  .social-icons {
    display: none !important;
  }
}