<title>{{ time | minuteSeconds }} | Tomato Focus</title>



<div class="bg">
</div>

<nav>
  <h1>TomatoFocus</h1>

  <div class="social-icons">
    <ul>
      <li>
        <a href="http://github.com/ajayns/">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/ajayns08">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://medium.com/@ajay.ns08">
          <i class="fa fa-medium"></i>
        </a>
      </li>
    </ul>
  </div>


</nav>

<div class="container">
  <div class="current-state">Current State</div>
  <div class="timer">

    <div class="timer-svg">
      <svg id="svg" width="300" height="300" viewPort="0 0 100 100">

        <circle id="bar" r="135" cx="150" cy="150" fill="transparent" stroke-dasharray="848.22" stroke-dashoffset="0"></circle>
      </svg>
    </div>

    <div class="time">{{ time | minuteSeconds }}</div>

    <button (click)="togglePause()" [disabled]="!time">
      <i class="fa" [ngClass]="timerActive ? 'fa-pause' : 'fa-play'"></i>
    </button>

  </div>

  <div class="controls">
    <ul>
      <li>
        <button (click)="setTimer(5)">Short Break</button>

      </li>
      <li>
        <button (click)="startFocus(5)">Focus</button>

      </li>
      <li>
        <button (click)="setTimer(15)">Long Break</button>

      </li>
    </ul>
  </div>
</div>
